<footer class="footer has-cards">
    <div class="container">
      <hr>
      <div class="row align-items-center justify-content-md-between">
        <div class="col-md-6">
          <div class="copyright">
            Copyrights &copy;&nbsp;<script>document.write(new Date().getFullYear());</script>&nbsp;by {{site.data.data.main.title}}
          </div>
        </div>
        <div class="col-md-6">
          <ul class="nav nav-footer justify-content-end">
            <!-- <li class="nav-item">
              <a href="https://www.creative-tim.com" class="nav-link" target="_blank">Creative Tim</a>
            </li> -->
            <li class="nav-item">
              <a href="{{site.linkedin}}" class="nav-link" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            </li>
            <li class="nav-item">
              <a href="{{site.github}}" class="nav-link" target="_blank"><i class="fa fa-github-alt" aria-hidden="true"></i></a>
            </li>
            <!-- <li class="nav-item">
              <a href="" class="nav-link" target="_blank">MIT License</a>
            </li> -->
          </ul>
        </div>
      </div>
    </div>
</footer>
