<section class="section section-components bg-secondary" id="what-we-do">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-12">
            <h2 class="mb-5 text-center underline-sm"><span>Services</span></h2>
             <!--  <div class="row">
               {% for item in site.data.data.what-we-do %}
                <div class="col-sm">
                  <div class="card shadow h-95">
                      <img class="card-img-top" src="{{site.baseurl}}{{item.image}}" alt="{{item.title}}" >
                      <div class="card-body">
                          <h6 class="text-center card-title">{{item.title}}</h6>
                          <hr class="card-hr">
                          <p class="card-text">{{item.description | truncate: 130}}</p>
                          <a href="{{site.baseurl}}{{item.link}}"><button type="button" class="btn btn-primary btn-block">Know More</button></a>
                      </div>
                  </div>
                </div>
                {% endfor %}
              </div> -->
              <div class="row">
               
                <div class="col-sm">
                  <div class="card shadow h-95">
                      <img class="card-img-top" src="{{site.baseurl}}/assets/img/analytics.jpg" alt="Analytics">
                      <div class="card-body">
                          <h6 class="text-center card-title">Analytics</h6>
                          <hr class="card-hr">
                          <p class="card-text">We use a mix of mathematics, statistics, predictive analytics and machine learning techniques to derive meaningful patterns and knowledge...</p>
                          <a href="{{site.baseurl}}/analytics/"><button type="button" class="btn btn-primary btn-block">Know More</button></a>
                      </div>
                  </div>
                </div>
                
                <div class="col-sm">
                  <div class="card shadow h-95">
                      <img class="card-img-top" src="{{site.baseurl}}/assets/img/robotic-process-automation.jpg" alt="Robotic Process Automation">
                      <div class="card-body">
                          <h6 class="text-center card-title">Robotic Process Automation</h6>
                          <hr class="card-hr">
                          <p class="card-text">Automation can assist in Doing More with Software. Intelligent deployment of Automation in conjunction with cognitive technology, stacks and...</p>
                          <a href="{{site.baseurl}}/robotic-process-automation/"><button type="button" class="btn btn-primary btn-block">Know More</button></a>
                      </div>
                  </div>
                </div>
                
                <div class="col-sm">
                  <div class="card shadow h-95">
                      <img class="card-img-top" src="{{site.baseurl}}/assets/img/algorithmic-trading.jpg" alt="Algorithmic Trading">
                      <div class="card-body">
                          <h6 class="text-center card-title">Algorithmic Trading</h6>
                          <hr class="card-hr">
                          <p class="card-text">Time series analysis lay at the Core of the strategy that you want to deploy. The ability to look forward and backward, to dril down from...</p>
                          <a href="{{site.baseurl}}/algorithmic-trading/"><button type="button" class="btn btn-primary btn-block">Know More</button></a>
                      </div>
                  </div>
                </div>
                
              </div>
          </div>
        </div>
      </div>
    </section>